
.time-line {
    width: 40rem;
    height: 4rem;
    font-size: 3.4rem;
    background-color: black;
    color: white;
}

.chess-btn {
    width: 40rem;
    height: 4rem;
    font-size: 3.4;
    background-color: white;
    color: black;
}

.time-setter {
   width: 40rem;
   height: 4rem;
}