.App {
  min-width: 100vw;
  max-height: 100vh;
}

header {
  height: 100px;
}

.main-content {
  padding-top: 25rem;

  min-width: 100vw;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}